@import '../styles/variables.scss';
@import '../styles/light-theme.scss';
@import '../styles/dark-theme.scss';
@import url('//vendor.imweb.me/css/arita.css');
@import url('//fonts.googleapis.com/css?family=Noto+Serif+KR');

body {
  font-family: aritadm, '아리따돋움', -apple-system, system-ui,
    BlinkMacSystemFont, '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo',
    'Noto Sans KR', sans-serif;
  color: #212121;
  font-size: 16px;
  background-color: $light-background-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  transition: background-color 0.3s, color 0.3s;
}

b,
b *,
strong,
strong * {
  font-weight: 700;
}
